<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="pl-PL">
    <head>
        <title>Gabinet Weterynaryjny</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div id="container">
            <div id="header">
                <a href="/">Gaia Zoo</a>
                <ul id="menu">
                    <li class="menu-part"><a th:href="@{pracownik}">Pracownicy</a></li>
                    <li class="menu-part"><a th:href="@{dodajUslugi}">Dodaj Usługi</a></li>
                    <li class="menu-part"><a th:href="@{klienci}">Sprawdź klientów</a></li>
                    <li class="menu-part"><a th:href="@{wizyty}">Sprawdź dzisiejsze wizyty</a></li>
                    <li class="menu-part"><a th:href="@{zwierzeta}">Sprawdź wszystkie zwierzęta</a></li>
                    <li class="menu-part"><a th:href="@{/logout}">wyloguj</a></li>
                </ul>
            </div>
            <div id="content">
                <table>
                    <thead>
                        <th>Imie</th>
                        <th>Nazwisko</th>
                        <th>Email</th>
                        <th>Telefon</th>
                    </thead>
                    <tbody>
                    <tr th:if="${#strings.isEmpty(pracownik)}">
                        <td colspan="4"> Brak pracowników :(</td>
                    </tr>
                    <tr th:each="pracownicy : ${pracownik}">
                        <td><span th:text="${pracownicy.imie}">Imie</span></td>
                        <td><span th:text="${pracownicy.nazwisko}">Nazwisko</span></td>
                        <td><span th:text="${pracownicy.email}">Email</span></td>
                        <td><span th:text="${pracownicy.telefon}">Telefon</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="footer">
                <a th:href="@{regulamin}">Regulamin</a> | <a th:href="@{pracownik}">Gaia zoo</a> | Kamil Romiński © 2021
            </div>
        </div>
    </body>
</html>