<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="pl-PL">
<head>
    <title>Gabinet Weterynaryjny</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="container">
    <div id="header">
        <a href="/">Gaia Zoo</a>
        <ul id="menu">
            <li class="menu-part"><a href="opis">O nas</a></li>
            <li class="menu-part"><a href="cennik">Cennik</a></li>
            <li class="menu-part"><a href="uslugi">Usługi</a></li>
            <li class="menu-part"><a href="/kontakt">Kontakt</a></li>
        </ul>
    </div>
    <div id="content">
        Tutaj bedzie fajny cennik usług
        <table>
            <thead>
                <th>Usługa</th>
                <th>Cena</th>
            </thead>
            <tbody>
                <tr th:if="${#strings.isEmpty(uslugi)}">
                    <td colspan="2"> Brak dostępnych usług :(</td>
                </tr>
                <tr th:each="usluga : ${uslugi}">
                    <td><span th:text="${usluga.nazwa}">Nazwa</span></td>
                    <td><span th:text="${usluga.cena}">Cena</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="footer">
        <a th:href="@{regulamin}">Regulamin</a> | <a th:href="@{pracownik}">Gaia zoo</a> | Kamil Romiński © 2021
    </div>
</div>
</body>
</html>