<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="pl-PL">
    <head>
        <title>Gabinet Weterynaryjny</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div id="container">
            <div id="header">
                <a href="/" class="header-item"><img th:src="@{/photos/pieseg.png}"></a>
                <p class="header-item" id="title">GAIA ZOO</p>
                <div id="contact" class="header-item">
                    <p class="contact-content">+48 652 85 42</p>
                    <p class="contact-content">ul. Zwierzątek 6, 83-000 Pszczółki</p>
                </div>
            </div>
            <div id="middle">
                <div id="verticalmenu">
                    <ul id="menu">
                        <li class="menu-part"><a th:href="@{opis}">O NAS</a></li>
                        <li class="menu-part"><a th:href="@{uslugi}">USŁUGI</a></li>
                        <li class="menu-part"><a th:href="@{cennik}">CENNIK</a></li>
                        <li class="menu-part"><a th:href="@{kontakt}">KONTAKT</a></li>
                    </ul>
                </div>
                <div id="content">
                    <h1>Aktualności</h1>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo efficitur lorem. Aliquam in mi posuere, ultrices arcu quis, hendrerit felis. In feugiat quis enim nec commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam eu sapien et ex pellentesque tristique. Nam varius consectetur leo, vel efficitur mauris efficitur id. Aliquam imperdiet massa in mauris mollis interdum. Sed et neque finibus urna scelerisque dictum. Nam volutpat ante eros, vitae vulputate massa bibendum eu. Duis et commodo risus. Ut venenatis magna quis risus faucibus fringilla. In vitae neque eros. Ut ultrices lacinia tortor vitae rhoncus.

                    Cras ut erat volutpat, sollicitudin arcu id, dignissim mi. Etiam vulputate aliquet justo at suscipit. Fusce aliquet dapibus interdum. Donec blandit elit mauris. Aenean vulputate, felis eu lacinia tristique, dolor dolor vestibulum turpis, at viverra augue diam a massa. Suspendisse ac dui bibendum, blandit nisi ut, blandit metus. Pellentesque lobortis ipsum ut leo convallis gravida. Aenean euismod, nibh et ultricies porta, dui augue feugiat ante, quis pharetra ligula ex et orci. Nulla facilisi. Morbi nec elit viverra, placerat nisl vitae, placerat quam. Donec condimentum lectus quam, nec pharetra risus pretium at. Pellentesque molestie urna cursus, feugiat mi ut, bibendum erat. Integer at sem eu ex vehicula eleifend porttitor eu sapien. Nullam condimentum condimentum odio, sit amet pulvinar nunc tempus a. Proin egestas elit turpis, nec pulvinar justo aliquet ac. Ut ut turpis vestibulum, pretium massa ac, consectetur dolor.

                    Etiam quis pulvinar nunc. Aliquam venenatis aliquam sapien, vitae ultrices lectus dignissim ut. Mauris et elit eu nunc fermentum scelerisque ut non risus. Quisque blandit ipsum semper mattis malesuada. Aenean lacinia aliquam auctor. Integer id bibendum tortor. Mauris a risus nisl. Phasellus condimentum orci eget odio condimentum eleifend.

                    Praesent et hendrerit erat. Maecenas id erat vitae sapien gravida tempor at nec lorem. Donec interdum est sed volutpat aliquam. Integer nulla odio, tempor non aliquet ac, fermentum quis justo. Fusce egestas et urna accumsan aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc id aliquet nisl. Aliquam porta sem in hendrerit aliquet. Morbi eu mauris sit amet ante volutpat dictum. Praesent pharetra ex orci.

                    Integer vulputate purus non bibendum mattis. Duis aliquet interdum nunc quis hendrerit. Phasellus at dictum purus. Aliquam erat volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam finibus justo eget libero porta, sit amet dapibus sapien pulvinar. Nulla quis dapibus orci.
                </div>
                <div id="photo">
                    <img th:src="@{/photos/jamie-street-Zqy-x7K5Qcg-unsplash.jpg}">
                </div>

            </div>
            <div id="footer">
                <a th:href="@{regulamin}" id="regulamin">Regulamin</a> | <a th:href="@{pracownik}" id="loginpage">Gaia Zoo</a> | Kamil Romiński © 2021
            </div>
        </div>
    </body>
</html>