<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="pl-PL">
<head>
    <title>Gabinet Weterynaryjny</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="container">
    <div id="header">
        <a href="/">Gaia Zoo</a>
        <ul id="menu">
            <li class="menu-part"><a th:href="@{opis}">O nas</a></li>
            <li class="menu-part"><a th:href="@{cennik}">Cennik</a></li>
            <li class="menu-part"><a th:href="@{uslugi}">Usługi</a></li>
            <li class="menu-part"><a th:href="@{kontakt}">Kontakt</a></li>
        </ul>
    </div>
    <div id="content">
        <!--/*@thymesVar id="Klient" type="com.pjatk.project.weterynarz.model.Klient"*/-->
        <!--/*@thymesVar id="Zwierze" type="com.pjatk.project.weterynarz.model.Zwierze"*/-->
        <!--/*@thymesVar id="Wizyta" type="com.pjatk.project.weterynarz.model.Wizyta"*/-->
        <!--/*@thymesVar id="Klient.imie" type="String"*/-->
        <!--/*@thymesVar id="klient.nazwisko" type="String"*/-->
        <!--/*@thymesVar id="klient.email" type="String"*/-->
        <!--/*@thymesVar id="klient.telefon" type="int"*/-->
        <!--/*@thymesVar id="zwierze.nazwa" type="String"*/-->
        <!--/*@thymesVar id="zwierze.typ" type="String"*/-->
        <!--/*@thymesVar id="zwierze.wiek" type="int"*/-->
        <!--/*@thymesVar id="wizyta.opis" type="String"*/-->
        <!--/*@thymesVar id="wizyta.data" type="java.util.Formatter.DateTime"*/-->
        <form action="#" th:action="@{kontakt}" method="post">
            <p><label for="Klient.imie">Imie:</label><input type="text" th:field="${Klient.imie}" name="Klient.imie" id="Klient.imie"/></p>
            <p><label for="Klient.nazwisko">Nazwisko: </label><input type="text" th:field="${Klient.nazwisko}" name="Klient.nazwisko" id="Klient.nazwisko"/></p>
            <p><label for="Klient.telefon">Telefon: </label><input type="text" th:field="${Klient.telefon}" name="Klient.telefon" id="Klient.telefon"/></p>
            <p><label for="Klient.email">E-mail: </label><input type="text" th:field="${Klient.email}" name="Klient.email" id="Klient.email"/></p>
            <p><label for="zwierze_imie">Imie zwierzęcia: </label><input type="text" th:field="${Zwierze.nazwa}" name="zwierze_imie" id="zwierze_imie"></p>
            <p><label for="zwierze_rasa">Typ zwierzęcia: </label><input type="text" th:field="${Zwierze.typ}" name="zwierze_rasa" id="zwierze_rasa"></p>
            <p><label for="zwierze_wiek">Wiek zwierzęcia: </label><input type="text" th:field="${Zwierze.wiek}" name="zwierze_wiek" id="zwierze_wiek"></p>
            <p><label for="zgloszenie_problem">Opis problemu: </label><input type="text" th:field="${Wizyta.opis}" name="zgloszenie_problem" id="zgloszenie_problem"></p>
            <p><label for="zgloszenie_data">Preferowana data i godzina wizyty: </label><input type="datetime-local" th:field="${Wizyta.data}" name="zgloszenie_data" id="zgloszenie_data" min="2020-12-01" max="2021-12-31"></p>
            <p><input type="submit" value="Wyslij zgloszenie"></p>
            <p><input type="reset" value="Zresetuj pola"></p>
        </form>
    </div>
    <div id="footer">
        Regulamin | <a href="login.html">Gaja zoo</a> | Kamil Romiński C 2021
    </div>
</div>
</body>
</html>