<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="pl-PL">
<head>
    <title>Gabinet Weterynaryjny</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="container">
    <div id="header">
        <a href="/">Gaja Zoo</a>
        <ul id="menu">
            <li class="menu-part"><a href="opis">O nas</a></li>
            <li class="menu-part"><a href="cennik">Cennik</a></li>
            <li class="menu-part"><a href="uslugi">Usługi</a></li>
            <li class="menu-part"><a href="/kontakt">Kontakt</a></li>
        </ul>
    </div>
    <div id="content">
        <!--/*@thymesVar id="Klient" type="com.pjatk.project.weterynarz.model.Klient"*/-->
        <form action="login" th:action="@{/panel}" method="post">
            <div th:if="${param.error}" class="alert alert-error">
                Błędny login lub haslo
            </div>
            <div th:if="${param.logout}" class="alert logout">
                Zostałeś/aś pomyślnie wylogowany/a
            </div>
            <p><label for="username">Login: </label><input type="text" id="username" name="username" value="" /></p>
            <p><label for="password">Haslo: </label><input type="password" id="password" name="password" /></p>
            <input type="submit" name="login" id="login" value="Zaloguj się" />
        </form>
    </div>
    <div id="footer">
        Regulamin | <a href="login.html">Gaja zoo</a> | Kamil Romiński C 2021
    </div>
</div>
</body>
</html>