<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="pl-PL">
<head>
    <title>Gabinet Weterynaryjny</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="container">
    <div id="header">
        <a href="/">Gaia Zoo</a>
        <ul id="menu">
            <li class="menu-part"><a th:href="@{opis}">O nas</a></li>
            <li class="menu-part"><a th:href="@{uslugi}">Usługi</a></li>
            <li class="menu-part"><a th:href="@{cennik}">Cennik</a></li>
            <li class="menu-part"><a th:href="@{kontakt}">Kontakt</a></li>
        </ul>
    </div>
    <div id="content">
        Dziękujemy za przekazanie zgłoszenia. Skontaktujemy sie z państwem w najbliższym czasie
    </div>
    <div id="footer">
        <a th:href="@{regulamin}">Regulamin</a> | <a th:href="@{pracownik}">Gaia zoo</a> | Kamil Romiński © 2021
    </div>
</div>
</body>
</html>