<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="pl-PL">
<head>
    <title>Gabinet Weterynaryjny</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="container">
    <div id="header">
        <a href="/" class="header-item">tutej logo</a>
        <p class="header-item" id="title">Gaia Zoo</p>
        <div id="contact" class="header-item">
            <p class="contact-content">nr telefonu</p>
            <p class="contact-content">adres</p>
        </div>
    </div>
    <div id="middle">
        <div id="verticalmenu">
            <ul id="menu">
                <li class="menu-part"><a th:href="@{opis}">O nas</a></li>
                <li class="menu-part"><a th:href="@{uslugi}">Usługi</a></li>
                <li class="menu-part"><a th:href="@{cennik}">Cennik</a></li>
                <li class="menu-part"><a th:href="@{kontakt}">Kontakt</a></li>
            </ul>
        </div>
    <div id="content">
        Tutaj bedzie fajny opis naszych usług
    </div>
    <div id="footer">
        <a th:href="@{regulamin}">Regulamin</a> | <a th:href="@{pracownik}">Gaia zoo</a> | Kamil Romiński © 2021
    </div>
</div>
</body>
</html>